/* ========================================================================
   Component: Card
 ========================================================================== */
.card {
    position: relative;
    box-sizing: border-box;
    -webkit-transition: box-shadow 0.1s ease-in-out;
    transition: box-shadow 0.1s ease-in-out;
    border-radius: 10px;
}
/* Sections
 ========================================================================== */
.card-body {
    padding: 30px 30px;
}
.card-header {
    padding: 15px 30px;
}
.card-footer {
    padding: 15px 30px;
}
/* Desktop and bigger */
@media (min-width: 1200px) {
    .card-body {
        padding: 40px 40px;
    }
    .card-header {
        padding: 20px 40px;
    }
    .card-footer {
        padding: 20px 40px;
    }
}
/*
 * Micro clearfix
 */
.card-body::before,
.card-body::after,
.card-header::before,
.card-header::after,
.card-footer::before,
.card-footer::after {
    content: "";
    display: table;
}
.card-body::after,
.card-header::after,
.card-footer::after {
    clear: both;
}
/*
 * Remove margin from the last-child
 */
.card-body > :last-child,
.card-header > :last-child,
.card-footer > :last-child {
    margin-bottom: 0;
}
/* Media
 ========================================================================== */
/*
 * Reserved alignment modifier to style the media element, e.g. with `border-radius`
 * Implemented by the theme
 */
/* Title
 ========================================================================== */
.card-title {
    font-size: 1.5rem;
    line-height: 1.4;
}
/* Badge
 ========================================================================== */
.card-badge {
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 1;
}
/*
 * Remove margin from adjacent element
 */
.card-badge:first-child + * {
    margin-top: 0;
}
/* Hover modifier
 ========================================================================== */
.card-hover:not(.card-default):not(.card-primary):not(.card-secondary):hover {
    background: #fff;
    box-shadow: 0 14px 25px rgba(0, 0, 0, 0.16);
}
/* Style modifiers
 ========================================================================== */
/*
 * Default
 * Note: Header and Footer are only implemented for the default style
 */
.card-default {
    background: #fff;
    color: #666;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
}
.card-default .card-title {
    color: #333;
}
.card-default.card-hover:hover {
    background-color: #fff;
    box-shadow: 0 14px 25px rgba(0, 0, 0, 0.16);
}
.card-default .card-header {
    border-bottom: 1px solid #e5e5e5;
}
.card-default .card-footer {
    border-top: 1px solid #e5e5e5;
}
/*
 * Primary
 */
.card-primary {
    background: #1e87f0;
    color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}
.card-primary .card-title {
    color: #fff;
}
.card-primary.card-hover:hover {
    background-color: #1e87f0;
    box-shadow: 0 14px 25px rgba(0, 0, 0, 0.16);
}
/*
 * Secondary
 */
.card-secondary {
    background: #222;
    color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}
.card-secondary .card-title {
    color: #fff;
}
.card-secondary.card-hover:hover {
    background-color: #222;
    box-shadow: 0 14px 25px rgba(0, 0, 0, 0.16);
}
/* Size modifier
 ========================================================================== */
/*
 * Small
 */
.card-small.card-body,
.card-small .card-body {
    padding: 20px 20px;
}
.card-small .card-header {
    padding: 13px 20px;
}
.card-small .card-footer {
    padding: 13px 20px;
}
/*
 * Large
 */
/* Desktop and bigger */
@media (min-width: 1200px) {
    .card-large.card-body,
    .card-large .card-body {
        padding: 70px 70px;
    }
    .card-large .card-header {
        padding: 35px 70px;
    }
    .card-large .card-footer {
        padding: 35px 70px;
    }
}
/*
     * Default
     */
.card-body .nav-default {
    margin: -15px -30px;
}
.card-title + .nav-default {
    margin-top: 0;
}
.card-body .nav-default > li > a,
.card-body .nav-default .nav-header,
.card-body .nav-default .nav-divider {
    padding-left: 30px;
    padding-right: 30px;
}
.card-body .nav-default .nav-sub {
    padding-left: 45px;
}
/* Desktop and bigger */
@media (min-width: 1200px) {
    .card-body .nav-default {
        margin: -25px -40px;
    }
    .card-title + .nav-default {
        margin-top: 0;
    }
    .card-body .nav-default > li > a,
    .card-body .nav-default .nav-header,
    .card-body .nav-default .nav-divider {
        padding-left: 40px;
        padding-right: 40px;
    }
    .card-body .nav-default .nav-sub {
        padding-left: 55px;
    }
}
/*
     * Small
     */
.card-small .nav-default {
    margin: -5px -20px;
}
.card-small .card-title + .nav-default {
    margin-top: 0;
}
.card-small .nav-default > li > a,
.card-small .nav-default .nav-header,
.card-small .nav-default .nav-divider {
    padding-left: 20px;
    padding-right: 20px;
}
.card-small .nav-default .nav-sub {
    padding-left: 35px;
}
/*
     * Large
     */
/* Desktop and bigger */
@media (min-width: 1200px) {
    .card-large .nav-default {
        margin: -55px -70px;
    }
    .card-large .card-title + .nav-default {
        margin-top: 0;
    }
}

.middle-content{
    background: #fff;
    padding:2.15em;
    border: 1px solid #ebeff6;
    border-radius: 2px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.middle-content h3{
    font-size: 1.5em;
    color:#000;
    margin-bottom: 1em;
}

html, body{
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 100%;
    background:#F3F3F4;
    height: 100%;
    overflow-x: hidden;
}
@font-face{
    font-family:'Montserrat-Regular';
    src:url(../lib/bs-enhance/fonts/Montserrat-Regular.ttf) format('truetype');
}
@font-face{
    font-family: 'Muli-Regular';
    src:url(../lib/bs-enhance/fonts/Muli-Regular.ttf) format('truetype');
}

body a{
    transition:0.5s all;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -o-transition:0.5s all;
    -ms-transition:0.5s all;
}

.banner {
    background: #fff;
    display: block;
    margin: 0em 1em ;
    padding:1em;
    border: 1px solid #ebeff6;
    border-color: #ebeff6;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.banner  h2{
    font-size:0.9em;
}
.banner  h2 a {
    text-decoration:none;
    font-family: 'Muli-Regular', monospace;
    padding:0.3em ;
}
.banner  h2 span{
    color:#000;
    font-family: 'Muli-Regular', monospace;
    padding:0.3em ;
}
.banner  h2 i{
    color:#000;
    vertical-align:middle;
    padding:0.3em ;
}
div#home {
    padding: 0em 0 0;
}
h4, h5, h6,
h1, h2, h3 {margin: 0;}

::-webkit-scrollbar {
    width: .3em;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: grey;
    outline: 1px solid slategrey;
}

/* ========================================================================
   Component: Table
 ========================================================================== */

table, th, td {
    border: none;
}

table {
    width: 100%;
    display: table;
}

table.bordered > thead > tr,
table.bordered > tbody > tr {
    border-bottom: 1px solid #d0d0d0;
}

table.striped > tbody > tr:nth-child(odd) {
    background-color: #f2f2f2;
}

table.striped > tbody > tr > td {
    border-radius: 0;
}

table.highlight > tbody > tr {
    transition: background-color .25s ease;
}

table.highlight > tbody > tr:hover {
    background-color: #f2f2f2;
}

table.centered thead tr th, table.centered tbody tr td {
    text-align: center;
}

thead {
    border-bottom: 1px solid #d0d0d0;
}

td, th {
    padding: 15px 5px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    border-radius: 2px;
}

@media only screen and (max-width: 992px) {
    table.responsive-table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        display: block;
        position: relative;
        /* sort out borders */
    }
    table.responsive-table td:empty:before {
        content: '\00a0';
    }
    table.responsive-table th,
    table.responsive-table td {
        margin: 0;
        vertical-align: top;
    }
    table.responsive-table th {
        text-align: left;
    }
    table.responsive-table thead {
        display: block;
        float: left;
    }
    table.responsive-table thead tr {
        display: block;
        padding: 0 10px 0 0;
    }
    table.responsive-table thead tr th::before {
        content: "\00a0";
    }
    table.responsive-table tbody {
        display: block;
        width: auto;
        position: relative;
        overflow-x: auto;
        white-space: nowrap;
    }
    table.responsive-table tbody tr {
        display: inline-block;
        vertical-align: top;
    }
    table.responsive-table th {
        display: block;
        text-align: right;
    }
    table.responsive-table td {
        display: block;
        min-height: 1.25em;
        text-align: left;
    }
    table.responsive-table tr {
        padding: 0 10px;
    }
    table.responsive-table thead {
        border: 0;
        border-right: 1px solid #d0d0d0;
    }
    table.responsive-table.bordered th {
        border-bottom: 0;
        border-left: 0;
    }
    table.responsive-table.bordered td {
        border-left: 0;
        border-right: 0;
        border-bottom: 0;
    }
    table.responsive-table.bordered tr {
        border: 0;
    }
    table.responsive-table.bordered tbody tr {
        border-right: 1px solid #d0d0d0;
    }
}
/* ========================================================================
   Component: Search Input
 ========================================================================== */

.search-input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 20px 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: all 0.3s;
}

/* ========================================================================
   Component: Modal
 ========================================================================== */
.modal-content  {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
}

/* ========================================================================
   Component: Button
 ========================================================================== */

.btn, .btn-large,
.btn-flat {
    border: none;
    border-radius: 5px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    outline: 0;
    padding: 0 2rem;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
}

.btn.disabled, .disabled.btn-large,
.btn-floating.disabled,
.btn-large.disabled,
.btn-flat.disabled,
.btn:disabled,
.btn-large:disabled,
.btn-floating:disabled,
.btn-large:disabled,
.btn-flat:disabled,
.btn[disabled],
[disabled].btn-large,
.btn-floating[disabled],
.btn-large[disabled],
.btn-flat[disabled] {
    pointer-events: none;
    background-color: #DFDFDF !important;
    box-shadow: none;
    color: #9F9F9F !important;
    cursor: default;
}

.btn.disabled:hover, .disabled.btn-large:hover,
.btn-floating.disabled:hover,
.btn-large.disabled:hover,
.btn-flat.disabled:hover,
.btn:disabled:hover,
.btn-large:disabled:hover,
.btn-floating:disabled:hover,
.btn-large:disabled:hover,
.btn-flat:disabled:hover,
.btn[disabled]:hover,
[disabled].btn-large:hover,
.btn-floating[disabled]:hover,
.btn-large[disabled]:hover,
.btn-flat[disabled]:hover {
    background-color: #DFDFDF !important;
    color: #9F9F9F !important;
}

.btn, .btn-large,
.btn-floating,
.btn-large,
.btn-flat {
    font-size: 0.8rem;
    outline: 0;
}

.btn-flat {
    box-shadow: none;
    background-color: transparent;
    color: #343434;
    cursor: pointer;
    transition: background-color .2s;
}

.btn-flat:focus, .btn-flat:active {
    background-color: transparent;
}

.btn-flat.disabled {
    background-color: transparent !important;
    color: #b3b3b3 !important;
    cursor: default;
}

.btn-large {
    height: 54px;
    line-height: 54px;
}

.btn-large i {
    font-size: 1.6rem;
}

.btn-block {
    display: block;
}


/* ========================================================================
   Component: Divider
 ========================================================================== */
/*
 * 1. Reset default `hr`
 * 2. Set margin if a `div` is used for semantical reason
 */
[class*='divider'] {
    /* 1 */
    border: none;
    /* 2 */
    margin-bottom: 20px;
}
/* Add margin if adjacent element */
* + [class*='divider'] {
    margin-top: 20px;
}
/* Icon
 ========================================================================== */
.divider-icon {
    position: relative;
    height: 20px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Ccircle%20fill%3D%22none%22%20stroke%3D%22%23e5e5e5%22%20stroke-width%3D%222%22%20cx%3D%2210%22%20cy%3D%2210%22%20r%3D%227%22%3E%3C%2Fcircle%3E%0A%3C%2Fsvg%3E%0A");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.divider-icon::before,
.divider-icon::after {
    content: "";
    position: absolute;
    top: 50%;
    max-width: calc(50% - (50px / 2));
    border-bottom: 1px solid #e5e5e5;
}
.divider-icon::before {
    right: calc(50% + (50px / 2));
    width: 100%;
}
.divider-icon::after {
    left: calc(50% + (50px / 2));
    width: 100%;
}





/*******************
  Utility Classes
*******************/
.hide {
    display: none !important;
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}

.center, .center-align {
    text-align: center;
}

.left {
    float: left !important;
}

.right {
    float: right !important;
}

.no-select, input[type=range],
input[type=range] + .thumb {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.circle {
    border-radius: 50%;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.truncate {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.no-padding {
    padding: 0 !important;
}

@media screen and (max-width: 400px) {
    .hide-phone { display: none; }
}

@media screen and (max-width: 768px) {
    .hide-tablet { display: none; }
}

.clickable {
    cursor: pointer;
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}



/* ========================================================================
   Component: Shadow
 ========================================================================== */
.shadow-0 {
    box-shadow: none !important;
}

.shadow-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.shadow-1-half, .btn:hover, .btn-large:hover, .btn-floating:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.shadow-2 {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.shadow-3 {
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.shadow-4, .modal {
    box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}

.shadow-5 {
    box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}


/* ========================================================================
   Component: Select-2 Helper
 ========================================================================== */
.select2-container {
    box-sizing: border-box;
    display: inline-block;
    margin: 6px;
    position: relative;
    vertical-align: middle
}
.select2 {
    width: 99% !important;
    margin-right: 150px;
    /*
    margin-left: 45px;
    margin-left: 45px;
    */
}

.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 28px;
    user-select: none;
    -webkit-user-select: none
}

.select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    padding-left: 8px;
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.select2-container .select2-selection--single .select2-selection__clear {
    position: relative
}

.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
    padding-right: 8px;
    padding-left: 20px
}

.select2-container .select2-selection--multiple {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    min-height: 32px;
    user-select: none;
    -webkit-user-select: none
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
    display: inline-block;
    overflow: hidden;
    padding-left: 8px;
    text-overflow: ellipsis;
    white-space: nowrap
}

.select2-container .select2-search--inline {
    float: left
}

.select2-container .select2-search--inline .select2-search__field {
    box-sizing: border-box;
    border: none;
    font-size: 100%;
    margin-top: 5px;
    padding: 0
}

.select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
    -webkit-appearance: none
}

.select2-dropdown {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 0px;
    box-sizing: border-box;
    display: block;
    position: absolute;
    left: -100000px;
    width: 100%;
    z-index: 1051
}

.select2-results {
    display: block
}

.select2-results__options {
    list-style: none;
    margin: 0;
    padding: 0
}

.select2-results__option {
    padding: 6px;
    user-select: none;
    -webkit-user-select: none
}

.select2-results__option[aria-selected] {
    cursor: pointer
}

.select2-container--open .select2-dropdown {
    left: 0
}

.select2-container--open .select2-dropdown--above {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

.select2-container--open .select2-dropdown--below {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.select2-search--dropdown {
    display: block;
    padding: 4px
}

.select2-search--dropdown .select2-search__field {
    padding: 4px;
    width: 100%;
    box-sizing: border-box
}

.select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
    -webkit-appearance: none
}

.select2-search--dropdown.select2-search--hide {
    display: none
}

.select2-close-mask {
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: auto;
    opacity: 0;
    z-index: 99;
    background-color: #fff;
    filter: alpha(opacity=0)
}

.select2-hidden-accessible {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important
}

.select2-container--default .select2-selection--single {
    background-color: inherit;
    border: 1px solid #aaa;
    border-radius: 4px
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 28px
}

.select2-container--default .select2-selection--single .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #999
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #888 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    left: 50%;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0
}

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__clear {
    float: left
}

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow {
    left: 1px;
    right: auto
}

.select2-container--default.select2-container--disabled .select2-selection--single {
    background-color: #eee;
    cursor: default
}

.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {
    display: none
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #888 transparent;
    border-width: 0 4px 5px 4px
}

.select2-container--default .select2-selection--multiple {
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: text
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0 5px;
    width: 100%
}

.select2-container--default .select2-selection--multiple .select2-selection__placeholder {
    color: #999;
    margin-top: 5px;
    float: left
}

.select2-container--default .select2-selection--multiple .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold;
    margin-top: 5px;
    margin-right: 10px
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #999;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-right: 2px
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
    color: #333
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice, .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__placeholder, .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-search--inline {
    float: right
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
    margin-left: 5px;
    margin-right: auto
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
    margin-left: 2px;
    margin-right: auto
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: solid #000 1px;
    outline: 0
}

.select2-container--default.select2-container--disabled .select2-selection--multiple {
    background-color: #eee;
    cursor: default
}

.select2-container--default.select2-container--disabled .select2-selection__choice__remove {
    display: none
}

.select2-container--default.select2-container--open.select2-container--above .select2-selection--single, .select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #aaa
}

.select2-container--default .select2-search--inline .select2-search__field {
    background: transparent;
    border: none;
    outline: 0;
    box-shadow: none;
    -webkit-appearance: textfield
}

.select2-container--default .select2-results > .select2-results__options {
    max-height: 200px;
    overflow-y: auto
}

.select2-container--default .select2-results__option[role=group] {
    padding: 0
}

.select2-container--default .select2-results__option[aria-disabled=true] {
    color: #999
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #ddd
}

.select2-container--default .select2-results__option .select2-results__option {
    padding-left: 1em
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__group {
    padding-left: 0
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -1em;
    padding-left: 2em
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -2em;
    padding-left: 3em
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -3em;
    padding-left: 4em
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -4em;
    padding-left: 5em
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -5em;
    padding-left: 6em
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #5897fb;
    color: white
}

.select2-container--default .select2-results__group {
    cursor: default;
    display: block;
    padding: 6px
}

.select2-container--classic .select2-selection--single {
    background-color: #f7f7f7;
    border: 1px solid #aaa;
    border-radius: 4px;
    outline: 0;
    background-image: -webkit-linear-gradient(top, #fff 50%, #eee 100%);
    background-image: -o-linear-gradient(top, #fff 50%, #eee 100%);
    background-image: linear-gradient(to bottom, #fff 50%, #eee 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0)
}

.select2-container--classic .select2-selection--single:focus {
    border: 1px solid #5897fb
}

.select2-container--classic .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 28px
}

.select2-container--classic .select2-selection--single .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold;
    margin-right: 10px
}

.select2-container--classic .select2-selection--single .select2-selection__placeholder {
    color: #999
}

.select2-container--classic .select2-selection--single .select2-selection__arrow {
    background-color: #ddd;
    border: none;
    border-left: 1px solid #aaa;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 26px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
    background-image: -webkit-linear-gradient(top, #eee 50%, #ccc 100%);
    background-image: -o-linear-gradient(top, #eee 50%, #ccc 100%);
    background-image: linear-gradient(to bottom, #eee 50%, #ccc 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFCCCCCC', GradientType=0)
}

.select2-container--classic .select2-selection--single .select2-selection__arrow b {
    border-color: #888 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    left: 50%;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0
}

.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__clear {
    float: left
}

.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__arrow {
    border: none;
    border-right: 1px solid #aaa;
    border-radius: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    left: 1px;
    right: auto
}

.select2-container--classic.select2-container--open .select2-selection--single {
    border: 1px solid #5897fb
}

.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow {
    background: transparent;
    border: none
}

.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #888 transparent;
    border-width: 0 4px 5px 4px
}

.select2-container--classic.select2-container--open.select2-container--above .select2-selection--single {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-image: -webkit-linear-gradient(top, #fff 0%, #eee 50%);
    background-image: -o-linear-gradient(top, #fff 0%, #eee 50%);
    background-image: linear-gradient(to bottom, #fff 0%, #eee 50%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0)
}

.select2-container--classic.select2-container--open.select2-container--below .select2-selection--single {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-image: -webkit-linear-gradient(top, #eee 50%, #fff 100%);
    background-image: -o-linear-gradient(top, #eee 50%, #fff 100%);
    background-image: linear-gradient(to bottom, #eee 50%, #fff 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFFFFFFF', GradientType=0)
}

.select2-container--classic .select2-selection--multiple {
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: text;
    outline: 0
}

.select2-container--classic .select2-selection--multiple:focus {
    border: 1px solid #5897fb
}

.select2-container--classic .select2-selection--multiple .select2-selection__rendered {
    list-style: none;
    margin: 0;
    padding: 0 5px
}

.select2-container--classic .select2-selection--multiple .select2-selection__clear {
    display: none
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice {
    background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove {
    color: #888;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-right: 2px
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove:hover {
    color: #555
}

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
    float: right
}

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
    margin-left: 5px;
    margin-right: auto
}

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
    margin-left: 2px;
    margin-right: auto
}

.select2-container--classic.select2-container--open .select2-selection--multiple {
    border: 1px solid #5897fb
}

.select2-container--classic.select2-container--open.select2-container--above .select2-selection--multiple {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.select2-container--classic.select2-container--open.select2-container--below .select2-selection--multiple {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

.select2-container--classic .select2-search--dropdown .select2-search__field {
    border: 1px solid #aaa;
    outline: 0
}

.select2-container--classic .select2-search--inline .select2-search__field {
    outline: 0;
    box-shadow: none
}

.select2-container--classic .select2-dropdown {
    background-color: #fff;
    border: 1px solid transparent
}

.select2-container--classic .select2-dropdown--above {
    border-bottom: none
}

.select2-container--classic .select2-dropdown--below {
    border-top: none
}

.select2-container--classic .select2-results > .select2-results__options {
    max-height: 200px;
    overflow-y: auto
}

.select2-container--classic .select2-results__option[role=group] {
    padding: 0
}

.select2-container--classic .select2-results__option[aria-disabled=true] {
    color: grey
}

.select2-container--classic .select2-results__option--highlighted[aria-selected] {
    background-color: #3875d7;
    color: #fff
}

.select2-container--classic .select2-results__group {
    cursor: default;
    display: block;
    padding: 6px
}

.select2-container--classic.select2-container--open .select2-dropdown {
    border-color: #5897fb
}




.select2-container--default .select2-selection--multiple, .select2-container--default .select2-selection--single, .select2-container--default.select2-container--focus .select2-selection--multiple {
    height: 40px;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: 0
}

.select2-container--default .select2-selection--multiple, .select2-container--default.select2-container--focus .select2-selection--multiple {
    height: auto
}

.select2-container--default .select2-search--inline .select2-search__field {
    height: 30px
}

.select2-container--default .select2-selection--multiple input {
    margin: 0
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    border: none;
    color: #fff;
    margin-top: 8px;
    padding: 3px 10px;
    background-color: #42A5F5
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove, .select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
    color: #fff;
    margin-right: 5px
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 40px;
    padding-left: 0
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 40px
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: rgba(0, 0, 0, .3) transparent transparent
}

.select2-container--open .select2-dropdown--above, .select2-container--open .select2-dropdown--below {
    border: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .26)
}

.select2-results__option {
    padding: 1rem
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border-top: none;
    border-right: none;
    border-left: none
}

.select2-container--default .select2-results__option--highlighted[aria-selected], div.tagsinput span.tag {
    background-color: #42A5F5
}
/*End of Select2*/

/*Materialize Colors*/

.red {
    background-color: #F44336 !important;
}

.red-text {
    color: #F44336 !important;
}

.red.lighten-5 {
    background-color: #FFEBEE !important;
}

.red-text.text-lighten-5 {
    color: #FFEBEE !important;
}

.red.lighten-4 {
    background-color: #FFCDD2 !important;
}

.red-text.text-lighten-4 {
    color: #FFCDD2 !important;
}

.red.lighten-3 {
    background-color: #EF9A9A !important;
}

.red-text.text-lighten-3 {
    color: #EF9A9A !important;
}

.red.lighten-2 {
    background-color: #E57373 !important;
}

.red-text.text-lighten-2 {
    color: #E57373 !important;
}

.red.lighten-1 {
    background-color: #EF5350 !important;
}

.red-text.text-lighten-1 {
    color: #EF5350 !important;
}

.red.darken-1 {
    background-color: #E53935 !important;
}

.red-text.text-darken-1 {
    color: #E53935 !important;
}

.red.darken-2 {
    background-color: #D32F2F !important;
}

.red-text.text-darken-2 {
    color: #D32F2F !important;
}

.red.darken-3 {
    background-color: #C62828 !important;
}

.red-text.text-darken-3 {
    color: #C62828 !important;
}

.red.darken-4 {
    background-color: #B71C1C !important;
}

.red-text.text-darken-4 {
    color: #B71C1C !important;
}

.red.accent-1 {
    background-color: #FF8A80 !important;
}

.red-text.text-accent-1 {
    color: #FF8A80 !important;
}

.red.accent-2 {
    background-color: #FF5252 !important;
}

.red-text.text-accent-2 {
    color: #FF5252 !important;
}

.red.accent-3 {
    background-color: #FF1744 !important;
}

.red-text.text-accent-3 {
    color: #FF1744 !important;
}

.red.accent-4 {
    background-color: #D50000 !important;
}

.red-text.text-accent-4 {
    color: #D50000 !important;
}

.pink {
    background-color: #e91e63 !important;
}

.pink-text {
    color: #e91e63 !important;
}

.pink.lighten-5 {
    background-color: #fce4ec !important;
}

.pink-text.text-lighten-5 {
    color: #fce4ec !important;
}

.pink.lighten-4 {
    background-color: #f8bbd0 !important;
}

.pink-text.text-lighten-4 {
    color: #f8bbd0 !important;
}

.pink.lighten-3 {
    background-color: #f48fb1 !important;
}

.pink-text.text-lighten-3 {
    color: #f48fb1 !important;
}

.pink.lighten-2 {
    background-color: #f06292 !important;
}

.pink-text.text-lighten-2 {
    color: #f06292 !important;
}

.pink.lighten-1 {
    background-color: #ec407a !important;
}

.pink-text.text-lighten-1 {
    color: #ec407a !important;
}

.pink.darken-1 {
    background-color: #d81b60 !important;
}

.pink-text.text-darken-1 {
    color: #d81b60 !important;
}

.pink.darken-2 {
    background-color: #c2185b !important;
}

.pink-text.text-darken-2 {
    color: #c2185b !important;
}

.pink.darken-3 {
    background-color: #ad1457 !important;
}

.pink-text.text-darken-3 {
    color: #ad1457 !important;
}

.pink.darken-4 {
    background-color: #880e4f !important;
}

.pink-text.text-darken-4 {
    color: #880e4f !important;
}

.pink.accent-1 {
    background-color: #ff80ab !important;
}

.pink-text.text-accent-1 {
    color: #ff80ab !important;
}

.pink.accent-2 {
    background-color: #ff4081 !important;
}

.pink-text.text-accent-2 {
    color: #ff4081 !important;
}

.pink.accent-3 {
    background-color: #f50057 !important;
}

.pink-text.text-accent-3 {
    color: #f50057 !important;
}

.pink.accent-4 {
    background-color: #c51162 !important;
}

.pink-text.text-accent-4 {
    color: #c51162 !important;
}

.purple {
    background-color: #9c27b0 !important;
}

.purple-text {
    color: #9c27b0 !important;
}

.purple.lighten-5 {
    background-color: #f3e5f5 !important;
}

.purple-text.text-lighten-5 {
    color: #f3e5f5 !important;
}

.purple.lighten-4 {
    background-color: #e1bee7 !important;
}

.purple-text.text-lighten-4 {
    color: #e1bee7 !important;
}

.purple.lighten-3 {
    background-color: #ce93d8 !important;
}

.purple-text.text-lighten-3 {
    color: #ce93d8 !important;
}

.purple.lighten-2 {
    background-color: #ba68c8 !important;
}

.purple-text.text-lighten-2 {
    color: #ba68c8 !important;
}

.purple.lighten-1 {
    background-color: #ab47bc !important;
}

.purple-text.text-lighten-1 {
    color: #ab47bc !important;
}

.purple.darken-1 {
    background-color: #8e24aa !important;
}

.purple-text.text-darken-1 {
    color: #8e24aa !important;
}

.purple.darken-2 {
    background-color: #7b1fa2 !important;
}

.purple-text.text-darken-2 {
    color: #7b1fa2 !important;
}

.purple.darken-3 {
    background-color: #6a1b9a !important;
}

.purple-text.text-darken-3 {
    color: #6a1b9a !important;
}

.purple.darken-4 {
    background-color: #4a148c !important;
}

.purple-text.text-darken-4 {
    color: #4a148c !important;
}

.purple.accent-1 {
    background-color: #ea80fc !important;
}

.purple-text.text-accent-1 {
    color: #ea80fc !important;
}

.purple.accent-2 {
    background-color: #e040fb !important;
}

.purple-text.text-accent-2 {
    color: #e040fb !important;
}

.purple.accent-3 {
    background-color: #d500f9 !important;
}

.purple-text.text-accent-3 {
    color: #d500f9 !important;
}

.purple.accent-4 {
    background-color: #aa00ff !important;
}

.purple-text.text-accent-4 {
    color: #aa00ff !important;
}

.deep-purple {
    background-color: #673ab7 !important;
}

.deep-purple-text {
    color: #673ab7 !important;
}

.deep-purple.lighten-5 {
    background-color: #ede7f6 !important;
}

.deep-purple-text.text-lighten-5 {
    color: #ede7f6 !important;
}

.deep-purple.lighten-4 {
    background-color: #d1c4e9 !important;
}

.deep-purple-text.text-lighten-4 {
    color: #d1c4e9 !important;
}

.deep-purple.lighten-3 {
    background-color: #b39ddb !important;
}

.deep-purple-text.text-lighten-3 {
    color: #b39ddb !important;
}

.deep-purple.lighten-2 {
    background-color: #9575cd !important;
}

.deep-purple-text.text-lighten-2 {
    color: #9575cd !important;
}

.deep-purple.lighten-1 {
    background-color: #7e57c2 !important;
}

.deep-purple-text.text-lighten-1 {
    color: #7e57c2 !important;
}

.deep-purple.darken-1 {
    background-color: #5e35b1 !important;
}

.deep-purple-text.text-darken-1 {
    color: #5e35b1 !important;
}

.deep-purple.darken-2 {
    background-color: #512da8 !important;
}

.deep-purple-text.text-darken-2 {
    color: #512da8 !important;
}

.deep-purple.darken-3 {
    background-color: #4527a0 !important;
}

.deep-purple-text.text-darken-3 {
    color: #4527a0 !important;
}

.deep-purple.darken-4 {
    background-color: #311b92 !important;
}

.deep-purple-text.text-darken-4 {
    color: #311b92 !important;
}

.deep-purple.accent-1 {
    background-color: #b388ff !important;
}

.deep-purple-text.text-accent-1 {
    color: #b388ff !important;
}

.deep-purple.accent-2 {
    background-color: #7c4dff !important;
}

.deep-purple-text.text-accent-2 {
    color: #7c4dff !important;
}

.deep-purple.accent-3 {
    background-color: #651fff !important;
}

.deep-purple-text.text-accent-3 {
    color: #651fff !important;
}

.deep-purple.accent-4 {
    background-color: #6200ea !important;
}

.deep-purple-text.text-accent-4 {
    color: #6200ea !important;
}

.indigo {
    background-color: #3f51b5 !important;
}

.indigo-text {
    color: #3f51b5 !important;
}

.indigo.lighten-5 {
    background-color: #e8eaf6 !important;
}

.indigo-text.text-lighten-5 {
    color: #e8eaf6 !important;
}

.indigo.lighten-4 {
    background-color: #c5cae9 !important;
}

.indigo-text.text-lighten-4 {
    color: #c5cae9 !important;
}

.indigo.lighten-3 {
    background-color: #9fa8da !important;
}

.indigo-text.text-lighten-3 {
    color: #9fa8da !important;
}

.indigo.lighten-2 {
    background-color: #7986cb !important;
}

.indigo-text.text-lighten-2 {
    color: #7986cb !important;
}

.indigo.lighten-1 {
    background-color: #5c6bc0 !important;
}

.indigo-text.text-lighten-1 {
    color: #5c6bc0 !important;
}

.indigo.darken-1 {
    background-color: #3949ab !important;
}

.indigo-text.text-darken-1 {
    color: #3949ab !important;
}

.indigo.darken-2 {
    background-color: #303f9f !important;
}

.indigo-text.text-darken-2 {
    color: #303f9f !important;
}

.indigo.darken-3 {
    background-color: #283593 !important;
}

.indigo-text.text-darken-3 {
    color: #283593 !important;
}

.indigo.darken-4 {
    background-color: #1a237e !important;
}

.indigo-text.text-darken-4 {
    color: #1a237e !important;
}

.indigo.accent-1 {
    background-color: #8c9eff !important;
}

.indigo-text.text-accent-1 {
    color: #8c9eff !important;
}

.indigo.accent-2 {
    background-color: #536dfe !important;
}

.indigo-text.text-accent-2 {
    color: #536dfe !important;
}

.indigo.accent-3 {
    background-color: #3d5afe !important;
}

.indigo-text.text-accent-3 {
    color: #3d5afe !important;
}

.indigo.accent-4 {
    background-color: #304ffe !important;
}

.indigo-text.text-accent-4 {
    color: #304ffe !important;
}

.blue {
    background-color: #2196F3 !important;
}

.blue-text {
    color: #2196F3 !important;
}

.blue.lighten-5 {
    background-color: #E3F2FD !important;
}

.blue-text.text-lighten-5 {
    color: #E3F2FD !important;
}

.blue.lighten-4 {
    background-color: #BBDEFB !important;
}

.blue-text.text-lighten-4 {
    color: #BBDEFB !important;
}

.blue.lighten-3 {
    background-color: #90CAF9 !important;
}

.blue-text.text-lighten-3 {
    color: #90CAF9 !important;
}

.blue.lighten-2 {
    background-color: #64B5F6 !important;
}

.blue-text.text-lighten-2 {
    color: #64B5F6 !important;
}

.blue.lighten-1 {
    background-color: #42A5F5 !important;
}

.blue-text.text-lighten-1 {
    color: #42A5F5 !important;
}

.blue.darken-1 {
    background-color: #1E88E5 !important;
}

.blue-text.text-darken-1 {
    color: #1E88E5 !important;
}

.blue.darken-2 {
    background-color: #1976D2 !important;
}

.blue-text.text-darken-2 {
    color: #1976D2 !important;
}

.blue.darken-3 {
    background-color: #1565C0 !important;
}

.blue-text.text-darken-3 {
    color: #1565C0 !important;
}

.blue.darken-4 {
    background-color: #0D47A1 !important;
}

.blue-text.text-darken-4 {
    color: #0D47A1 !important;
}

.blue.accent-1 {
    background-color: #82B1FF !important;
}

.blue-text.text-accent-1 {
    color: #82B1FF !important;
}

.blue.accent-2 {
    background-color: #448AFF !important;
}

.blue-text.text-accent-2 {
    color: #448AFF !important;
}

.blue.accent-3 {
    background-color: #2979FF !important;
}

.blue-text.text-accent-3 {
    color: #2979FF !important;
}

.blue.accent-4 {
    background-color: #2962FF !important;
}

.blue-text.text-accent-4 {
    color: #2962FF !important;
}

.light-blue {
    background-color: #03a9f4 !important;
}

.light-blue-text {
    color: #03a9f4 !important;
}

.light-blue.lighten-5 {
    background-color: #e1f5fe !important;
}

.light-blue-text.text-lighten-5 {
    color: #e1f5fe !important;
}

.light-blue.lighten-4 {
    background-color: #b3e5fc !important;
}

.light-blue-text.text-lighten-4 {
    color: #b3e5fc !important;
}

.light-blue.lighten-3 {
    background-color: #81d4fa !important;
}

.light-blue-text.text-lighten-3 {
    color: #81d4fa !important;
}

.light-blue.lighten-2 {
    background-color: #4fc3f7 !important;
}

.light-blue-text.text-lighten-2 {
    color: #4fc3f7 !important;
}

.light-blue.lighten-1 {
    background-color: #29b6f6 !important;
}

.light-blue-text.text-lighten-1 {
    color: #29b6f6 !important;
}

.light-blue.darken-1 {
    background-color: #039be5 !important;
}

.light-blue-text.text-darken-1 {
    color: #039be5 !important;
}

.light-blue.darken-2 {
    background-color: #0288d1 !important;
}

.light-blue-text.text-darken-2 {
    color: #0288d1 !important;
}

.light-blue.darken-3 {
    background-color: #0277bd !important;
}

.light-blue-text.text-darken-3 {
    color: #0277bd !important;
}

.light-blue.darken-4 {
    background-color: #01579b !important;
}

.light-blue-text.text-darken-4 {
    color: #01579b !important;
}

.light-blue.accent-1 {
    background-color: #80d8ff !important;
}

.light-blue-text.text-accent-1 {
    color: #80d8ff !important;
}

.light-blue.accent-2 {
    background-color: #40c4ff !important;
}

.light-blue-text.text-accent-2 {
    color: #40c4ff !important;
}

.light-blue.accent-3 {
    background-color: #00b0ff !important;
}

.light-blue-text.text-accent-3 {
    color: #00b0ff !important;
}

.light-blue.accent-4 {
    background-color: #0091ea !important;
}

.light-blue-text.text-accent-4 {
    color: #0091ea !important;
}

.cyan {
    background-color: #00bcd4 !important;
}

.cyan-text {
    color: #00bcd4 !important;
}

.cyan.lighten-5 {
    background-color: #e0f7fa !important;
}

.cyan-text.text-lighten-5 {
    color: #e0f7fa !important;
}

.cyan.lighten-4 {
    background-color: #b2ebf2 !important;
}

.cyan-text.text-lighten-4 {
    color: #b2ebf2 !important;
}

.cyan.lighten-3 {
    background-color: #80deea !important;
}

.cyan-text.text-lighten-3 {
    color: #80deea !important;
}

.cyan.lighten-2 {
    background-color: #4dd0e1 !important;
}

.cyan-text.text-lighten-2 {
    color: #4dd0e1 !important;
}

.cyan.lighten-1 {
    background-color: #26c6da !important;
}

.cyan-text.text-lighten-1 {
    color: #26c6da !important;
}

.cyan.darken-1 {
    background-color: #00acc1 !important;
}

.cyan-text.text-darken-1 {
    color: #00acc1 !important;
}

.cyan.darken-2 {
    background-color: #0097a7 !important;
}

.cyan-text.text-darken-2 {
    color: #0097a7 !important;
}

.cyan.darken-3 {
    background-color: #00838f !important;
}

.cyan-text.text-darken-3 {
    color: #00838f !important;
}

.cyan.darken-4 {
    background-color: #006064 !important;
}

.cyan-text.text-darken-4 {
    color: #006064 !important;
}

.cyan.accent-1 {
    background-color: #84ffff !important;
}

.cyan-text.text-accent-1 {
    color: #84ffff !important;
}

.cyan.accent-2 {
    background-color: #18ffff !important;
}

.cyan-text.text-accent-2 {
    color: #18ffff !important;
}

.cyan.accent-3 {
    background-color: #00e5ff !important;
}

.cyan-text.text-accent-3 {
    color: #00e5ff !important;
}

.cyan.accent-4 {
    background-color: #00b8d4 !important;
}

.cyan-text.text-accent-4 {
    color: #00b8d4 !important;
}

.teal {
    background-color: #009688 !important;
}

.teal-text {
    color: #009688 !important;
}

.teal.lighten-5 {
    background-color: #e0f2f1 !important;
}

.teal-text.text-lighten-5 {
    color: #e0f2f1 !important;
}

.teal.lighten-4 {
    background-color: #b2dfdb !important;
}

.teal-text.text-lighten-4 {
    color: #b2dfdb !important;
}

.teal.lighten-3 {
    background-color: #80cbc4 !important;
}

.teal-text.text-lighten-3 {
    color: #80cbc4 !important;
}

.teal.lighten-2 {
    background-color: #4db6ac !important;
}

.teal-text.text-lighten-2 {
    color: #4db6ac !important;
}

.teal.lighten-1 {
    background-color: #26a69a !important;
}

.teal-text.text-lighten-1 {
    color: #26a69a !important;
}

.teal.darken-1 {
    background-color: #00897b !important;
}

.teal-text.text-darken-1 {
    color: #00897b !important;
}

.teal.darken-2 {
    background-color: #00796b !important;
}

.teal-text.text-darken-2 {
    color: #00796b !important;
}

.teal.darken-3 {
    background-color: #00695c !important;
}

.teal-text.text-darken-3 {
    color: #00695c !important;
}

.teal.darken-4 {
    background-color: #004d40 !important;
}

.teal-text.text-darken-4 {
    color: #004d40 !important;
}

.teal.accent-1 {
    background-color: #a7ffeb !important;
}

.teal-text.text-accent-1 {
    color: #a7ffeb !important;
}

.teal.accent-2 {
    background-color: #64ffda !important;
}

.teal-text.text-accent-2 {
    color: #64ffda !important;
}

.teal.accent-3 {
    background-color: #1de9b6 !important;
}

.teal-text.text-accent-3 {
    color: #1de9b6 !important;
}

.teal.accent-4 {
    background-color: #00bfa5 !important;
}

.teal-text.text-accent-4 {
    color: #00bfa5 !important;
}

.green {
    background-color: #4CAF50 !important;
}

.green-text {
    color: #4CAF50 !important;
}

.green.lighten-5 {
    background-color: #E8F5E9 !important;
}

.green-text.text-lighten-5 {
    color: #E8F5E9 !important;
}

.green.lighten-4 {
    background-color: #C8E6C9 !important;
}

.green-text.text-lighten-4 {
    color: #C8E6C9 !important;
}

.green.lighten-3 {
    background-color: #A5D6A7 !important;
}

.green-text.text-lighten-3 {
    color: #A5D6A7 !important;
}

.green.lighten-2 {
    background-color: #81C784 !important;
}

.green-text.text-lighten-2 {
    color: #81C784 !important;
}

.green.lighten-1 {
    background-color: #66BB6A !important;
}

.green-text.text-lighten-1 {
    color: #66BB6A !important;
}

.green.darken-1 {
    background-color: #43A047 !important;
}

.green-text.text-darken-1 {
    color: #43A047 !important;
}

.green.darken-2 {
    background-color: #388E3C !important;
}

.green-text.text-darken-2 {
    color: #388E3C !important;
}

.green.darken-3 {
    background-color: #2E7D32 !important;
}

.green-text.text-darken-3 {
    color: #2E7D32 !important;
}

.green.darken-4 {
    background-color: #1B5E20 !important;
}

.green-text.text-darken-4 {
    color: #1B5E20 !important;
}

.green.accent-1 {
    background-color: #B9F6CA !important;
}

.green-text.text-accent-1 {
    color: #B9F6CA !important;
}

.green.accent-2 {
    background-color: #69F0AE !important;
}

.green-text.text-accent-2 {
    color: #69F0AE !important;
}

.green.accent-3 {
    background-color: #00E676 !important;
}

.green-text.text-accent-3 {
    color: #00E676 !important;
}

.green.accent-4 {
    background-color: #00C853 !important;
}

.green-text.text-accent-4 {
    color: #00C853 !important;
}

.light-green {
    background-color: #8bc34a !important;
}

.light-green-text {
    color: #8bc34a !important;
}

.light-green.lighten-5 {
    background-color: #f1f8e9 !important;
}

.light-green-text.text-lighten-5 {
    color: #f1f8e9 !important;
}

.light-green.lighten-4 {
    background-color: #dcedc8 !important;
}

.light-green-text.text-lighten-4 {
    color: #dcedc8 !important;
}

.light-green.lighten-3 {
    background-color: #c5e1a5 !important;
}

.light-green-text.text-lighten-3 {
    color: #c5e1a5 !important;
}

.light-green.lighten-2 {
    background-color: #aed581 !important;
}

.light-green-text.text-lighten-2 {
    color: #aed581 !important;
}

.light-green.lighten-1 {
    background-color: #9ccc65 !important;
}

.light-green-text.text-lighten-1 {
    color: #9ccc65 !important;
}

.light-green.darken-1 {
    background-color: #7cb342 !important;
}

.light-green-text.text-darken-1 {
    color: #7cb342 !important;
}

.light-green.darken-2 {
    background-color: #689f38 !important;
}

.light-green-text.text-darken-2 {
    color: #689f38 !important;
}

.light-green.darken-3 {
    background-color: #558b2f !important;
}

.light-green-text.text-darken-3 {
    color: #558b2f !important;
}

.light-green.darken-4 {
    background-color: #33691e !important;
}

.light-green-text.text-darken-4 {
    color: #33691e !important;
}

.light-green.accent-1 {
    background-color: #ccff90 !important;
}

.light-green-text.text-accent-1 {
    color: #ccff90 !important;
}

.light-green.accent-2 {
    background-color: #b2ff59 !important;
}

.light-green-text.text-accent-2 {
    color: #b2ff59 !important;
}

.light-green.accent-3 {
    background-color: #76ff03 !important;
}

.light-green-text.text-accent-3 {
    color: #76ff03 !important;
}

.light-green.accent-4 {
    background-color: #64dd17 !important;
}

.light-green-text.text-accent-4 {
    color: #64dd17 !important;
}

.lime {
    background-color: #cddc39 !important;
}

.lime-text {
    color: #cddc39 !important;
}

.lime.lighten-5 {
    background-color: #f9fbe7 !important;
}

.lime-text.text-lighten-5 {
    color: #f9fbe7 !important;
}

.lime.lighten-4 {
    background-color: #f0f4c3 !important;
}

.lime-text.text-lighten-4 {
    color: #f0f4c3 !important;
}

.lime.lighten-3 {
    background-color: #e6ee9c !important;
}

.lime-text.text-lighten-3 {
    color: #e6ee9c !important;
}

.lime.lighten-2 {
    background-color: #dce775 !important;
}

.lime-text.text-lighten-2 {
    color: #dce775 !important;
}

.lime.lighten-1 {
    background-color: #d4e157 !important;
}

.lime-text.text-lighten-1 {
    color: #d4e157 !important;
}

.lime.darken-1 {
    background-color: #c0ca33 !important;
}

.lime-text.text-darken-1 {
    color: #c0ca33 !important;
}

.lime.darken-2 {
    background-color: #afb42b !important;
}

.lime-text.text-darken-2 {
    color: #afb42b !important;
}

.lime.darken-3 {
    background-color: #9e9d24 !important;
}

.lime-text.text-darken-3 {
    color: #9e9d24 !important;
}

.lime.darken-4 {
    background-color: #827717 !important;
}

.lime-text.text-darken-4 {
    color: #827717 !important;
}

.lime.accent-1 {
    background-color: #f4ff81 !important;
}

.lime-text.text-accent-1 {
    color: #f4ff81 !important;
}

.lime.accent-2 {
    background-color: #eeff41 !important;
}

.lime-text.text-accent-2 {
    color: #eeff41 !important;
}

.lime.accent-3 {
    background-color: #c6ff00 !important;
}

.lime-text.text-accent-3 {
    color: #c6ff00 !important;
}

.lime.accent-4 {
    background-color: #aeea00 !important;
}

.lime-text.text-accent-4 {
    color: #aeea00 !important;
}

.yellow {
    background-color: #ffeb3b !important;
}

.yellow-text {
    color: #ffeb3b !important;
}

.yellow.lighten-5 {
    background-color: #fffde7 !important;
}

.yellow-text.text-lighten-5 {
    color: #fffde7 !important;
}

.yellow.lighten-4 {
    background-color: #fff9c4 !important;
}

.yellow-text.text-lighten-4 {
    color: #fff9c4 !important;
}

.yellow.lighten-3 {
    background-color: #fff59d !important;
}

.yellow-text.text-lighten-3 {
    color: #fff59d !important;
}

.yellow.lighten-2 {
    background-color: #fff176 !important;
}

.yellow-text.text-lighten-2 {
    color: #fff176 !important;
}

.yellow.lighten-1 {
    background-color: #ffee58 !important;
}

.yellow-text.text-lighten-1 {
    color: #ffee58 !important;
}

.yellow.darken-1 {
    background-color: #fdd835 !important;
}

.yellow-text.text-darken-1 {
    color: #fdd835 !important;
}

.yellow.darken-2 {
    background-color: #fbc02d !important;
}

.yellow-text.text-darken-2 {
    color: #fbc02d !important;
}

.yellow.darken-3 {
    background-color: #f9a825 !important;
}

.yellow-text.text-darken-3 {
    color: #f9a825 !important;
}

.yellow.darken-4 {
    background-color: #f57f17 !important;
}

.yellow-text.text-darken-4 {
    color: #f57f17 !important;
}

.yellow.accent-1 {
    background-color: #ffff8d !important;
}

.yellow-text.text-accent-1 {
    color: #ffff8d !important;
}

.yellow.accent-2 {
    background-color: #ffff00 !important;
}

.yellow-text.text-accent-2 {
    color: #ffff00 !important;
}

.yellow.accent-3 {
    background-color: #ffea00 !important;
}

.yellow-text.text-accent-3 {
    color: #ffea00 !important;
}

.yellow.accent-4 {
    background-color: #ffd600 !important;
}

.yellow-text.text-accent-4 {
    color: #ffd600 !important;
}

.amber {
    background-color: #ffc107 !important;
}

.amber-text {
    color: #ffc107 !important;
}

.amber.lighten-5 {
    background-color: #fff8e1 !important;
}

.amber-text.text-lighten-5 {
    color: #fff8e1 !important;
}

.amber.lighten-4 {
    background-color: #ffecb3 !important;
}

.amber-text.text-lighten-4 {
    color: #ffecb3 !important;
}

.amber.lighten-3 {
    background-color: #ffe082 !important;
}

.amber-text.text-lighten-3 {
    color: #ffe082 !important;
}

.amber.lighten-2 {
    background-color: #ffd54f !important;
}

.amber-text.text-lighten-2 {
    color: #ffd54f !important;
}

.amber.lighten-1 {
    background-color: #ffca28 !important;
}

.amber-text.text-lighten-1 {
    color: #ffca28 !important;
}

.amber.darken-1 {
    background-color: #ffb300 !important;
}

.amber-text.text-darken-1 {
    color: #ffb300 !important;
}

.amber.darken-2 {
    background-color: #ffa000 !important;
}

.amber-text.text-darken-2 {
    color: #ffa000 !important;
}

.amber.darken-3 {
    background-color: #ff8f00 !important;
}

.amber-text.text-darken-3 {
    color: #ff8f00 !important;
}

.amber.darken-4 {
    background-color: #ff6f00 !important;
}

.amber-text.text-darken-4 {
    color: #ff6f00 !important;
}

.amber.accent-1 {
    background-color: #ffe57f !important;
}

.amber-text.text-accent-1 {
    color: #ffe57f !important;
}

.amber.accent-2 {
    background-color: #ffd740 !important;
}

.amber-text.text-accent-2 {
    color: #ffd740 !important;
}

.amber.accent-3 {
    background-color: #ffc400 !important;
}

.amber-text.text-accent-3 {
    color: #ffc400 !important;
}

.amber.accent-4 {
    background-color: #ffab00 !important;
}

.amber-text.text-accent-4 {
    color: #ffab00 !important;
}

.orange {
    background-color: #ff9800 !important;
}

.orange-text {
    color: #ff9800 !important;
}

.orange.lighten-5 {
    background-color: #fff3e0 !important;
}

.orange-text.text-lighten-5 {
    color: #fff3e0 !important;
}

.orange.lighten-4 {
    background-color: #ffe0b2 !important;
}

.orange-text.text-lighten-4 {
    color: #ffe0b2 !important;
}

.orange.lighten-3 {
    background-color: #ffcc80 !important;
}

.orange-text.text-lighten-3 {
    color: #ffcc80 !important;
}

.orange.lighten-2 {
    background-color: #ffb74d !important;
}

.orange-text.text-lighten-2 {
    color: #ffb74d !important;
}

.orange.lighten-1 {
    background-color: #ffa726 !important;
}

.orange-text.text-lighten-1 {
    color: #ffa726 !important;
}

.orange.darken-1 {
    background-color: #fb8c00 !important;
}

.orange-text.text-darken-1 {
    color: #fb8c00 !important;
}

.orange.darken-2 {
    background-color: #f57c00 !important;
}

.orange-text.text-darken-2 {
    color: #f57c00 !important;
}

.orange.darken-3 {
    background-color: #ef6c00 !important;
}

.orange-text.text-darken-3 {
    color: #ef6c00 !important;
}

.orange.darken-4 {
    background-color: #e65100 !important;
}

.orange-text.text-darken-4 {
    color: #e65100 !important;
}

.orange.accent-1 {
    background-color: #ffd180 !important;
}

.orange-text.text-accent-1 {
    color: #ffd180 !important;
}

.orange.accent-2 {
    background-color: #ffab40 !important;
}

.orange-text.text-accent-2 {
    color: #ffab40 !important;
}

.orange.accent-3 {
    background-color: #ff9100 !important;
}

.orange-text.text-accent-3 {
    color: #ff9100 !important;
}

.orange.accent-4 {
    background-color: #ff6d00 !important;
}

.orange-text.text-accent-4 {
    color: #ff6d00 !important;
}

.deep-orange {
    background-color: #ff5722 !important;
}

.deep-orange-text {
    color: #ff5722 !important;
}

.deep-orange.lighten-5 {
    background-color: #fbe9e7 !important;
}

.deep-orange-text.text-lighten-5 {
    color: #fbe9e7 !important;
}

.deep-orange.lighten-4 {
    background-color: #ffccbc !important;
}

.deep-orange-text.text-lighten-4 {
    color: #ffccbc !important;
}

.deep-orange.lighten-3 {
    background-color: #ffab91 !important;
}

.deep-orange-text.text-lighten-3 {
    color: #ffab91 !important;
}

.deep-orange.lighten-2 {
    background-color: #ff8a65 !important;
}

.deep-orange-text.text-lighten-2 {
    color: #ff8a65 !important;
}

.deep-orange.lighten-1 {
    background-color: #ff7043 !important;
}

.deep-orange-text.text-lighten-1 {
    color: #ff7043 !important;
}

.deep-orange.darken-1 {
    background-color: #f4511e !important;
}

.deep-orange-text.text-darken-1 {
    color: #f4511e !important;
}

.deep-orange.darken-2 {
    background-color: #e64a19 !important;
}

.deep-orange-text.text-darken-2 {
    color: #e64a19 !important;
}

.deep-orange.darken-3 {
    background-color: #d84315 !important;
}

.deep-orange-text.text-darken-3 {
    color: #d84315 !important;
}

.deep-orange.darken-4 {
    background-color: #bf360c !important;
}

.deep-orange-text.text-darken-4 {
    color: #bf360c !important;
}

.deep-orange.accent-1 {
    background-color: #ff9e80 !important;
}

.deep-orange-text.text-accent-1 {
    color: #ff9e80 !important;
}

.deep-orange.accent-2 {
    background-color: #ff6e40 !important;
}

.deep-orange-text.text-accent-2 {
    color: #ff6e40 !important;
}

.deep-orange.accent-3 {
    background-color: #ff3d00 !important;
}

.deep-orange-text.text-accent-3 {
    color: #ff3d00 !important;
}

.deep-orange.accent-4 {
    background-color: #dd2c00 !important;
}

.deep-orange-text.text-accent-4 {
    color: #dd2c00 !important;
}

.brown {
    background-color: #795548 !important;
}

.brown-text {
    color: #795548 !important;
}

.brown.lighten-5 {
    background-color: #efebe9 !important;
}

.brown-text.text-lighten-5 {
    color: #efebe9 !important;
}

.brown.lighten-4 {
    background-color: #d7ccc8 !important;
}

.brown-text.text-lighten-4 {
    color: #d7ccc8 !important;
}

.brown.lighten-3 {
    background-color: #bcaaa4 !important;
}

.brown-text.text-lighten-3 {
    color: #bcaaa4 !important;
}

.brown.lighten-2 {
    background-color: #a1887f !important;
}

.brown-text.text-lighten-2 {
    color: #a1887f !important;
}

.brown.lighten-1 {
    background-color: #8d6e63 !important;
}

.brown-text.text-lighten-1 {
    color: #8d6e63 !important;
}

.brown.darken-1 {
    background-color: #6d4c41 !important;
}

.brown-text.text-darken-1 {
    color: #6d4c41 !important;
}

.brown.darken-2 {
    background-color: #5d4037 !important;
}

.brown-text.text-darken-2 {
    color: #5d4037 !important;
}

.brown.darken-3 {
    background-color: #4e342e !important;
}

.brown-text.text-darken-3 {
    color: #4e342e !important;
}

.brown.darken-4 {
    background-color: #3e2723 !important;
}

.brown-text.text-darken-4 {
    color: #3e2723 !important;
}

.blue-grey {
    background-color: #607d8b !important;
}

.blue-grey-text {
    color: #607d8b !important;
}

.blue-grey.lighten-5 {
    background-color: #eceff1 !important;
}

.blue-grey-text.text-lighten-5 {
    color: #eceff1 !important;
}

.blue-grey.lighten-4 {
    background-color: #cfd8dc !important;
}

.blue-grey-text.text-lighten-4 {
    color: #cfd8dc !important;
}

.blue-grey.lighten-3 {
    background-color: #b0bec5 !important;
}

.blue-grey-text.text-lighten-3 {
    color: #b0bec5 !important;
}

.blue-grey.lighten-2 {
    background-color: #90a4ae !important;
}

.blue-grey-text.text-lighten-2 {
    color: #90a4ae !important;
}

.blue-grey.lighten-1 {
    background-color: #78909c !important;
}

.blue-grey-text.text-lighten-1 {
    color: #78909c !important;
}

.blue-grey.darken-1 {
    background-color: #546e7a !important;
}

.blue-grey-text.text-darken-1 {
    color: #546e7a !important;
}

.blue-grey.darken-2 {
    background-color: #455a64 !important;
}

.blue-grey-text.text-darken-2 {
    color: #455a64 !important;
}

.blue-grey.darken-3 {
    background-color: #37474f !important;
}

.blue-grey-text.text-darken-3 {
    color: #37474f !important;
}

.blue-grey.darken-4 {
    background-color: #263238 !important;
}

.blue-grey-text.text-darken-4 {
    color: #263238 !important;
}

.grey {
    background-color: #9e9e9e !important;
}

.grey-text {
    color: #9e9e9e !important;
}

.grey.lighten-5 {
    background-color: #fafafa !important;
}

.grey-text.text-lighten-5 {
    color: #fafafa !important;
}

.grey.lighten-4 {
    background-color: #f5f5f5 !important;
}

.grey-text.text-lighten-4 {
    color: #f5f5f5 !important;
}

.grey.lighten-3 {
    background-color: #eeeeee !important;
}

.grey-text.text-lighten-3 {
    color: #eeeeee !important;
}

.grey.lighten-2 {
    background-color: #e0e0e0 !important;
}

.grey-text.text-lighten-2 {
    color: #e0e0e0 !important;
}

.grey.lighten-1 {
    background-color: #bdbdbd !important;
}

.grey-text.text-lighten-1 {
    color: #bdbdbd !important;
}

.grey.darken-1 {
    background-color: #757575 !important;
}

.grey-text.text-darken-1 {
    color: #757575 !important;
}

.grey.darken-2 {
    background-color: #616161 !important;
}

.grey-text.text-darken-2 {
    color: #616161 !important;
}

.grey.darken-3 {
    background-color: #424242 !important;
}

.grey-text.text-darken-3 {
    color: #424242 !important;
}

.grey.darken-4 {
    background-color: #212121 !important;
}

.grey-text.text-darken-4 {
    color: #212121 !important;
}

.black {
    background-color: #000000 !important;
}

.black-text {
    color: #000000 !important;
}

.white {
    background-color: #FFFFFF !important;
}

.white-text {
    color: #FFFFFF !important;
}

.transparent {
    background-color: transparent !important;
}

.transparent-text {
    color: transparent !important;
}
